/* START MAIN CSS */
@media(min-width: 768px) {
  .app {
    padding: 20px 5px;
    background-color: #23273c;
    color: #f1f1f1;
    width: 768px;
    margin: 0 auto;
  }
  .app .left {
    display: inline-block;
    width: calc(38% - 3px);
    border-right: 3px solid gray;
  }
  .app .right {
    display: inline-block;
    width: 62%;
    vertical-align: top;
  }
}
@media(min-width: 992px) {
  .app {
    padding: 20px 5px;
    background-color: #23273c;
    color: #f1f1f1;
    width: 992px;
    margin: 0 auto;
  }
}
@media(max-width: 767px) {
  .app {
    padding: 20px 5px;
    background-color: #23273c;
    color: #f1f1f1;
    margin: 0 auto;
  }
}
.title {
  padding-bottom: 10px;
  border-bottom: 3px solid #00abff;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 14px;
}
/* END MAIN CSS */
/* START BASICINFO */
.basicInfo{
  padding: 10px 20px;
}

.basicInfo .profileImage {
  width: 260px;
  height: 300px;
  border-radius: 10px;
}
.basicInfo .contact{
  margin-bottom: 10px;
}

.basicInfo .p {
  display: inline-block;
  margin: 5px 0;
}

.basicInfo .label {
  width: 100px;
}

.basicInfo .socialIcons {
  
}
.basicInfo .socialIcon {
  color: #00abff;
  padding-right: 10px;
}
/* END BASICINFO */
/* START PROFILE */
.profile {
  padding: 10px 20px;
}
/* END PROFILE */
/* START SKILL */
.skills {
  padding: 10px 20px;
}
.skills .language {
  display: inline-block;
  width: 150px;
}
.star {
  display: inline-block;
  color: #00abff;
}
/* END SKILL */
/* START EDUCATION */
.education {
  padding: 10px 20px;
}
.education .eduHeader .eduTitle{
  display: inline-block;
  width: calc(100% - 150px);
}
.education .eduHeader .eduTime{
  display: inline-block;
  vertical-align:top;
  width: 150px;
  text-align: right;
  padding-top: 5px;
  color: #7A7A7A;
}
.education .eduAddress{
  margin: 0;
}
/* END EDUCATION */
/* START EXPERIENCE */

.experience {
  padding: 10px 20px;
}
.experience .exHeader .exTitle{
  display: inline-block;
  width: calc(100% - 150px);
}
.experience .exHeader .exTime{
  display: inline-block;
  vertical-align:top;
  width: 150px;
  text-align: right;
  padding-top: 5px;
  color: #7A7A7A;
}
.experience .exListItem{
  margin-bottom: 10px;
  padding-left: 13px;
}
/* END EDUCATION */
/* START INTERESTS */
.interests {
  padding: 10px 20px;
}
.interests .interestsList {
  display: flex;
  justify-content: space-around;
}
.interests .icons {
  text-align:center;
}
.interests .icon {
  color :#00abff;
}
/* END INTERESTS */
